/* Menu.css */
.menu {
    position: fixed;
    left: 0;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20%; /* Adjust the width as needed */
    height: 100%;
    z-index: 1000;

    background: #aeafb1; /* Light background for the sidebar */
    padding: 1em; /* Padding around the menu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
}

.menu-button {
    display: block;
    margin: 0.5em 0; /* Add some space between buttons */
    padding: 10px 0; /* Top and bottom padding for square shape */
    width: 100%; /* Adjust width as needed */
    text-align: center;
    text-decoration: none; /* Remove underline from links */
    color: white; /* Button text color */
    background: #4F46E5; /* Button background color */
    border: none; /* Remove border */
    border-radius: 4px; /* Slightly rounded corners for a modern look */
    /* font-weight: bold; Make the text bold */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.menu-button:hover {
    background-color: #6760e2; /* Slightly darker on hover */
}


.menu-button:last-child {
    margin-bottom: 0; /* Remove margin from the last button */
}