/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.navigationbar {
    margin-top: 20px;
  }
  
  .tail h4 {
    text-align: left;
  }
  
  .tail {
    position: sticky;
  }
  
  .header {
    height: 80px;
    border-bottom: 1px solid #cccccc;
  }